<h2 class="text2">Chhattrapati Shivaji Airport Information (ICAO:VABB)</h2>
<ul>
    
<li class="text2" style="color: aliceblue;">Currently there are 5 Aircraft at the airport</li>
<li class="text2" style="color: aliceblue;">Currently Temperature: 32 C    Dewpoint 26 C   Altimeter 30.01 mmHg</li>
<li class="text2" style="color: aliceblue;">Current Wind Conditions: 10 km/h @ 260</li>
</ul>
<img src="assets/unnamed.jpg" alt="Chhattrapati Shivaji Airport" style="width: 50%; height:50%; float: right;" >

