.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f6570e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgb(255, 216, 186);
}

.butt{
  color:#f6570e;
}

table{
  table-layout: fixed;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  
}

label, input {
margin-left: auto;
margin-right: auto;

}

button{
  margin-left: auto;
  margin-right: auto;
  background-color: #f6570e;
  height: 20px;
  width: 100px;
}