/* You can add global styles to this file, and also import other style files */
/* items class */

.items {

  margin: 0 0 2em 0;

  list-style-type: none;

  padding-left: 0;

  width: 25em;

}

.items li {

  cursor: pointer;

  position: relative;

  left: 0;

  background-color: #EEE;

  margin: .5em;

  padding: .3em;

  height: 1.6em;

  border-radius: 4px;

}

.items li:hover {

  color: #ada03a;

  background-color: #DDD;

  left: .1em;

}

.items li.selected:hover {

  background-color: #BBD8DC;

  color: white;

}



.items .text {

  position: relative;

  top: -3px;

}



.items li {

  cursor: pointer;

  position: relative;

  left: 0;

  background-color: #EEE;

  margin: .5em;

  padding: .3em;

  height: 1.6em;

  border-radius: 4px;

}



.items .badge {

  display: flexbox;

  font-size: small;

  color: rgb(2, 2, 2);

  padding: 0.8em 0.7em 0 0.7em;

  background-color: #ffd900;

  line-height: 1em;

  position: relative;

  left: -1px;

  top: -4px;

  height: 1.8em;

  margin-right: .8em;

  border-radius: 4px 0 0 4px;

}

.items li.selected {

  background-color: #CFD8DC;

  color: white;

}

body{
  background-color: rgb(45, 42, 30);
}

.text2{
  color: gold;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}